---
import { BodyLong, ExpansionCard, Heading, VStack } from '@navikt/ds-react';
import { oppgjorsrapporterApiUrl } from '@src/utils/server/urls';
import type { Language } from '@src/language/language';
import { text } from '@src/language/text';
import type { RapportMetadata } from '@src/types/rapport-metadata';
import ContentContainer from '@src/components/astro-island/ContentContainer.tsx';
//TODO denne url-en innholder rapportId?
const rapportMetaData: RapportMetadata = await fetch(oppgjorsrapporterApiUrl)
  .then((response) => response.json())
  .then((data) => data);

const language = Astro.currentLocale as Language;
---

<VStack gap="space-32">
  <VStack>
    <Heading size="medium">
      {rapportMetaData.bedriftNavn}
    </Heading>
    <BodyLong>
      {text.orgNrLabel[language]}: {rapportMetaData.orgnr}
    </BodyLong>
  </VStack>
  <ExpansionCard aria-label="Nedlasningsknapper for oppgjørsrapporter">
    <ExpansionCard.Header>
      <ExpansionCard.Title>
        Oppgjørsrapport arbeidsgiver – refusjoner fra Nav. Utbetalt {
          rapportMetaData.utbetaltDato
        }
      </ExpansionCard.Title>
    </ExpansionCard.Header>
    <ExpansionCard.Content>
      <VStack>
        <div>hei</div>
      </VStack>
      <!--      <ContentContainer id={+rapportMetaData.tilgjengeligeFormater[0].id} />-->
    </ExpansionCard.Content>
  </ExpansionCard>
</VStack>
