---
import { text } from '../language/text';
import Layout from '../layouts/Layout.astro';
import { Heading, VStack } from '@navikt/ds-react';
import type { Language } from '../language/language';
import Oppgjorsrapporter from '@src/components/astro-island/Oppgjorsrapporter.astro';

const language = Astro.currentLocale as Language;
const id = Astro.url.searchParams.get('id');
console.error('Neverlucky i index');
---

<Layout>
  <VStack gap="space-32">
    <div>
      <Heading size={'large'}>
        {text.title[language]}
      </Heading>
    </div>
    <Oppgjorsrapporter server:defer {id} />
  </VStack>
</Layout>
