@import url("@navikt/ds-css");

body {
  background-color: var(--ax-bg-neutral-soft);
}
.main {
  max-width: none;
}

.container {
  padding-bottom: 6rem;
  min-height: 600px;
  max-width: 912px;
  margin: 0 auto;
}

@media (max-width: 648px) {
  .container {
    padding: 0 0.5rem;
  }
}
